init-author-name=muukii
init-author-email=muukii.muukii@gmail.com
init-author-url=http://www.muukii.me/
init-license=MIT
init-version=0.0.0
//registry.npmjs.org/:_authToken=ae3a30eb-36a5-4844-857c-9555a2ffbb53
