<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.c-header</string>
		<string>public.c-plus-plus-header</string>
	</array>
	<key>BuildableType</key>
	<string>None</string>
	<key>DefaultCompletionName</key>
	<string>Objective-C-Bridging-Header</string>
	<key>Description</key>
	<string>To import Objective-C into Swift.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.h</string>
	<key>SortOrder</key>
	<string>3</string>
	<key>Summary</key>
	<string>To import Objective-C into Swift.</string>
</dict>
</plist>
