<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>fspinillo.alfredv2.slackfred</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>3FE2A525-A5B9-4B48-8331-36BE53683DA6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B764C047-C0BC-4155-A566-8DF25D007719</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Join channel</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>68270634-01E5-4AE3-970D-1799E1FEFB61</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Leave channel</string>
			</dict>
		</array>
		<key>68270634-01E5-4AE3-970D-1799E1FEFB61</key>
		<array/>
		<key>71B0FE9F-18BA-4F40-A9F4-5E10352018EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>47C612F5-1912-4807-AE52-40BEEDFBA91C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>747D10EA-4F5E-467E-9234-F41DFDC751B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FA372163-CD56-4D63-9EDA-5EF85BE0A801</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Get your Slack token</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>71B0FE9F-18BA-4F40-A9F4-5E10352018EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A8C91CC1-9B07-4FB3-AD94-76A318F2C58A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4DB3A35-7840-420E-8366-4F0A964C07AE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C3904C9D-34AB-4FBF-94D1-B2A318E35AED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4FB0F0AC-11BF-4D83-AD36-A622E0A70FAC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CAEE144D-7DAD-482E-9AE5-5C96C83EC261</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2AF3148-00F3-48ED-BEC4-6BD205358A3A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EC4EDF6A-CCBD-4AAF-B00B-750222ABCBB5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>724217DE-9018-4A1B-92B0-F4256802D24D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>fspinillo</string>
	<key>description</key>
	<string>Interact with Slack</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Slackfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
tell application "Slack" to activate
tell application "System Events"
	keystroke "k" using {command down}
	tell process "Slack" to keystroke (q as string)
	key code 36
end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>724217DE-9018-4A1B-92B0-F4256802D24D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>slk</string>
				<key>runningsubtext</key>
				<string>Searching</string>
				<key>script</key>
				<string>python slackfred.py "{query}"</string>
				<key>title</key>
				<string>Search users and channels</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EC4EDF6A-CCBD-4AAF-B00B-750222ABCBB5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://api.slack.com/web</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FA372163-CD56-4D63-9EDA-5EF85BE0A801</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>slt</string>
				<key>subtext</key>
				<string>Hold cmd to get your API key</string>
				<key>text</key>
				<string>Set your Slack API key</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>747D10EA-4F5E-467E-9234-F41DFDC751B8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python slackfred.py --setkey "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>71B0FE9F-18BA-4F40-A9F4-5E10352018EF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>API key saved</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>47C612F5-1912-4807-AE52-40BEEDFBA91C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>slf</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>python slackfred-files.py "{query}"</string>
				<key>title</key>
				<string>Search files in Slack</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C3904C9D-34AB-4FBF-94D1-B2A318E35AED</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4FB0F0AC-11BF-4D83-AD36-A622E0A70FAC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python slackfred-channels.py --join "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B764C047-C0BC-4155-A566-8DF25D007719</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>slc</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>python slackfred-channels.py "{query}"</string>
				<key>title</key>
				<string>Search channels in Slack</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3FE2A525-A5B9-4B48-8331-36BE53683DA6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python slackfred-channels.py --leave "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>68270634-01E5-4AE3-970D-1799E1FEFB61</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python slackfred-presence.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F4DB3A35-7840-420E-8366-4F0A964C07AE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>slp</string>
				<key>subtext</key>
				<string>'active' or 'away'</string>
				<key>text</key>
				<string>Set your presence</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A8C91CC1-9B07-4FB3-AD94-76A318F2C58A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
tell application "Slack" to activate
tell application "System Events"
		key code 53 using {shift down}
		set visible of process "Slack" to false
end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>E2AF3148-00F3-48ED-BEC4-6BD205358A3A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>slclear</string>
				<key>text</key>
				<string>Clear Slack messages</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CAEE144D-7DAD-482E-9AE5-5C96C83EC261</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3FE2A525-A5B9-4B48-8331-36BE53683DA6</key>
		<dict>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>47C612F5-1912-4807-AE52-40BEEDFBA91C</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>4FB0F0AC-11BF-4D83-AD36-A622E0A70FAC</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>68270634-01E5-4AE3-970D-1799E1FEFB61</key>
		<dict>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>71B0FE9F-18BA-4F40-A9F4-5E10352018EF</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>724217DE-9018-4A1B-92B0-F4256802D24D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>747D10EA-4F5E-467E-9234-F41DFDC751B8</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>A8C91CC1-9B07-4FB3-AD94-76A318F2C58A</key>
		<dict>
			<key>ypos</key>
			<real>740</real>
		</dict>
		<key>B764C047-C0BC-4155-A566-8DF25D007719</key>
		<dict>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>C3904C9D-34AB-4FBF-94D1-B2A318E35AED</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>CAEE144D-7DAD-482E-9AE5-5C96C83EC261</key>
		<dict>
			<key>ypos</key>
			<real>890</real>
		</dict>
		<key>E2AF3148-00F3-48ED-BEC4-6BD205358A3A</key>
		<dict>
			<key>ypos</key>
			<real>890</real>
		</dict>
		<key>EC4EDF6A-CCBD-4AAF-B00B-750222ABCBB5</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F4DB3A35-7840-420E-8366-4F0A964C07AE</key>
		<dict>
			<key>ypos</key>
			<real>740</real>
		</dict>
		<key>FA372163-CD56-4D63-9EDA-5EF85BE0A801</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://github.com/fspinillo</string>
</dict>
</plist>
