<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.taptonics.swiftplayground</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>036DAB4E-40DD-4B75-9D14-083DBD207FBA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E0A369A-D54D-46E5-A61F-A796E6B22D16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jim Rutherford</string>
	<key>description</key>
	<string>Opens or Creates a Swift Playground</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Swift Playground</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>mkdir -p ~/Playgrounds

cd ~/Playgrounds

QUERY={query}

if [ "$QUERY" == "" ]; then
	QUERY="default"
fi


# does folder already exits?
if [ -d "$QUERY" ]; then
	#simply open the playground in XCode  
	cd $QUERY
else
	#make a new folder
	mkdir $QUERY
	cd $QUERY
	
	# download the file from Github
	curl -L -o temp.zip https://raw.github.com/jimrutherford/Swift-Playground-Alfred-Workflow/master/templates/empty_ios.playground.zip
	
	# unzip playground
	unzip temp.zip

	mv empty_ios.playground $QUERY.playground


	rm -rf __MACOSX
	rm temp.zip
fi

open -a 'Xcode6' $QUERY.playground
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0E0A369A-D54D-46E5-A61F-A796E6B22D16</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>swift</string>
				<key>subtext</key>
				<string>Create or Open a Swift Playground</string>
				<key>text</key>
				<string>Swift Playground</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>036DAB4E-40DD-4B75-9D14-083DBD207FBA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>036DAB4E-40DD-4B75-9D14-083DBD207FBA</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>0E0A369A-D54D-46E5-A61F-A796E6B22D16</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>blog.taptonics.com</string>
</dict>
</plist>
