"*":
  "activate-power-mode":
    autoToggle: false
  "api-workbench": {}
  "atom-alignment": {}
  "atom-beautify":
    _analyticsUserId: "8ea4a37c-3566-455c-9018-d043b84cea1c"
    apex: {}
    arduino: {}
    c: {}
    cfml: {}
    coffeescript: {}
    cpp: {}
    cs: {}
    css: {}
    d: {}
    ejs: {}
    erb:
      beautify_on_save: true
    fortran: {}
    general:
      _analyticsUserId: "440f344a-9a27-4cfc-b13e-80e1d9098cc0"
    gherkin: {}
    handlebars: {}
    html: {}
    html_wrap_attributes_indent_size: 2
    jade: {}
    java: {}
    js: {}
    js_brace_style: "expand"
    js_end_with_newline: true
    js_eval_code: true
    json: {}
    jsx: {}
    latex: {}
    less: {}
    marko: {}
    mustache: {}
    objectivec: {}
    pawn: {}
    perl: {}
    php: {}
    python: {}
    riot: {}
    ruby: {}
    ruby_indent_char: "\t"
    ruby_indent_size: 2
    rust: {}
    sass: {}
    scss: {}
    spacebars: {}
    sql: {}
    svg: {}
    swig: {}
    tss: {}
    twig: {}
    typescript: {}
    vala: {}
    visualforce: {}
    xml: {}
    xtemplate: {}
  "atom-html-preview": {}
  "autoclose-html": {}
  "autocomplete-plus":
    confirmCompletion: "enter"
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "minimap"
      "emmet"
      "language-ruby-on-rails"
    ]
    followSymlinks: true
    themes: [
      "spacegray-dark-ui"
      "fruits-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "SourceCodePro-Regular"
    fontSize: 12
    invisibles:
      tab: "▸"
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabLength: 4
    tabType: "soft"
    undoGroupingInterval: 10
  emmet: {}
  "exception-reporting":
    userId: "0e30ce91-7fe5-325d-03e6-5231bca7e331"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "filetype-color":
    enabled: "false"
  "gist-it":
    newGistsDefaultToPrivate: true
    openAfterCreate: true
    userToken: "b2b1dc297c9d17d0c6ebadd713fc53aee6a28bc5"
  "git-projects":
    rootPath: "~/Develop; ~/Dropbox/"
  "go-playground":
    go_executable_path: "/Users/Muukii/local/go/bin/go"
  "go-plus":
    environmentOverridesConfiguration: false
  linter:
    errorPanelHeight: 108
  "linter-eslint":
    useGlobalEslint: true
  "linter-rubocop": {}
  "linter-swiftc": {}
  notifications: {}
  nuclide:
    installRecommendedPackages: true
    "nuclide-home":
      showHome: false
  "one-light-ui": {}
  pigments: {}
  "recent-files":
    updated: false
  "remember-session":
    height: 1373
    path: "/Users/Muukii/Develop/iOS/Eureka/couples-ios-tmp"
    selectedTab: ""
    tabs: "/Users/Muukii/Develop/iOS/Eureka/couples-ios-tmp/Couples/Common/Requests/EventsRequest.swift&&/Users/Muukii/Develop/iOS/Eureka/couples-ios/Misc/Scripts/PostSlack.go&&/Users/Muukii/Develop/iOS/Eureka/couples-ios/Makefile&&/Users/Muukii/Develop/iOS/Eureka/couples-ios-tmp/Couples/Common/Objects/CPFontObject.h&&/Users/Muukii/Develop/iOS/Eureka/couples-ios-tmp/Couples/Scenes/Anniversary/CPAnniversaryController.m&&/Users/Muukii/Develop/iOS/Eureka/couples-ios-tmp/Couples/Scenes/Calendar/CPEventDetailController.m&&/Users/Muukii/Develop/iOS/Eureka/couples-ios-tmp/Couples/Scenes/Anniversary/CPAnniversaryEditController.m"
    treeWidth: 200
    width: 2560
    x: 0
    y: 23
  "remote-edit": {}
  "remote-sync": {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "sync-settings":
    _analyticsUserId: "651130be-902f-4bfa-a702-1c0820947237"
  term2:
    colors: {}
  "tool-bar":
    visible: false
  "vim-mode":
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
".ansi.text":
  editor:
    tabLength: 4
".dockerfile.source":
  editor:
    preferredLineLength: 1000
".hack.html.text":
  editor:
    tabLength: 4
".hackfragment.source":
  editor:
    tabLength: 4
".hg-commit.text":
  editor:
    tabLength: 4
".ini.source":
  editor:
    tabLength: 4
".source.ts":
  editor:
    autoIndent: true
    autoIndentOnPaste: true
    tabLength: 4
".source.tsx":
  editor:
    autoIndent: true
    autoIndentOnPaste: true
    tabLength: 4
