"*":
  "api-workbench": {}
  "atom-beautify":
    _analyticsUserId: "8ea4a37c-3566-455c-9018-d043b84cea1c"
    ruby_indent_char: "\t"
    ruby_indent_size: 2
  "autoclose-html": {}
  "autocomplete-plus":
    confirmCompletion: "enter"
  core:
    disabledPackages: [
      "minimap"
      "emmet"
    ]
    followSymlinks: true
    themes: [
      "spacegray-dark-ui"
      "fruits"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "SourceCodePro-Regular"
    invisibles:
      tab: "▸"
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabLength: 4
    undoGroupingInterval: 10
  emmet: {}
  "exception-reporting":
    userId: "0e30ce91-7fe5-325d-03e6-5231bca7e331"
  "filetype-color":
    enabled: "false"
  "git-projects":
    rootPath: "~/Develop; ~/Dropbox/"
  "go-playground":
    go_executable_path: "/Users/Muukii/local/go/bin/go"
  "go-plus":
    goInstallation: "/Users/Muukii/local/go"
    goPath: "/Users/Muukii/go"
    golintArgs: "-min_confidence=1.1"
  linter:
    errorPanelHeight: 22
  "linter-eslint":
    useGlobalEslint: true
  "linter-rubocop": {}
  "linter-swiftc": {}
  notifications:
    showErrorsInDevMode: true
  "one-light-ui": {}
  "recent-files":
    updated: false
  "remember-session":
    height: 1373
    path: "/Users/Muukii/Develop/iOS/Eureka/couples-ios-tmp"
    selectedTab: ""
    tabs: "/Users/Muukii/Develop/iOS/Eureka/couples-ios-tmp/Couples/Common/Requests/EventsRequest.swift&&/Users/Muukii/Develop/iOS/Eureka/couples-ios/Misc/Scripts/PostSlack.go&&/Users/Muukii/Develop/iOS/Eureka/couples-ios/Makefile&&/Users/Muukii/Develop/iOS/Eureka/couples-ios-tmp/Couples/Common/Objects/CPFontObject.h&&/Users/Muukii/Develop/iOS/Eureka/couples-ios-tmp/Couples/Scenes/Anniversary/CPAnniversaryController.m&&/Users/Muukii/Develop/iOS/Eureka/couples-ios-tmp/Couples/Scenes/Calendar/CPEventDetailController.m&&/Users/Muukii/Develop/iOS/Eureka/couples-ios-tmp/Couples/Scenes/Anniversary/CPAnniversaryEditController.m"
    treeWidth: 200
    width: 2560
    x: 0
    y: 23
  "remote-edit": {}
  "remote-sync": {}
  "sync-settings":
    _analyticsUserId: "651130be-902f-4bfa-a702-1c0820947237"
  term2:
    colors: {}
  "tool-bar":
    visible: false
  "vim-mode":
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
".dockerfile.source":
  editor:
    preferredLineLength: 1000
