<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.muukii.alfred.workflow.workdiary</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>9157127A-C27F-4F15-9991-18014932F56F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>280CB348-4970-4ED5-B4BC-25182AF2DCB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EC2E2476-0B83-46A8-96C5-825C177521B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9157127A-C27F-4F15-9991-18014932F56F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>muukii</string>
	<key>description</key>
	<string>timestamp</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>WorkDiary</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>day</string>
				<key>subtext</key>
				<string>/send : send today's file to DayOne</string>
				<key>text</key>
				<string>WorkDiary Write Work</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EC2E2476-0B83-46A8-96C5-825C177521B0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Complete {query}</string>
				<key>title</key>
				<string>WorkDiary</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>280CB348-4970-4ED5-B4BC-25182AF2DCB0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>#python2

import os
import glob
from datetime import datetime as dt

query = '{query}'
saveDirectoryPath = '~/Desktop/workDiary/'

def validationPath(path):
	return os.path.expanduser(path)

def checkDirectory(path,create):
	path = validationPath(path)
	if os.path.exists(path) == False :
		if create :
			os.makedirs(path)

def todayFileName():
	datetime = dt.now()
	timeString = datetime.strftime('%Y-%m-%d')	
	return timeString + '.txt'

def checkTodayWorkDiaryFile(path,create) :
	path = validationPath(path)
	todayFile = None
	if os.path.isfile(path) == False:
		if create :
			todayFile = open(path,'w')
			todayFile.write('')
			todayFile.close()

def todayWorkDiaryFilePath():
	return saveDirectoryPath + todayFileName()

def writeTimestamp(query):
	checkDirectory(saveDirectoryPath,True)

	todayFilePath = todayWorkDiaryFilePath()
	checkTodayWorkDiaryFile(todayFilePath,True)

	todayFile = open (validationPath(todayFilePath),'a')

	datetime = dt.now()
	timeString = datetime.strftime('%H%:%M')

	writeString = '- '+timeString + ' ' + query

	todayFile.write(writeString+'\n\n')
	todayFile.close()
	#postNotification('WorkDiary','Write to today WorkDiary')

def sendDayOneTodayFile():
	checkDirectory(saveDirectoryPath,True)
	todayFilePath = todayWorkDiaryFilePath()
	checkTodayWorkDiaryFile(todayFilePath,True)
	print todayFilePath
	os.system('/usr/local/bin/dayone new &lt; ' + todayFilePath)
	#postNotification('WorkDiary','Send To DayOne')
	
def postNotification(title,description):
	script = 'echo ' + "'display notification "+ '"' + description + '"' + "with title "+ '"' + title + '"' + "' | osascript"
	os.system(script)

if query == '/send' :
	print query
	sendDayOneTodayFile()
else:
	print query
	writeTimestamp(query)
	</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9157127A-C27F-4F15-9991-18014932F56F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Command : day &lt;Query&gt;

- &lt;HH:MM&gt; &lt;Query&gt;

Command : day /send

send To day one</string>
	<key>uidata</key>
	<dict>
		<key>280CB348-4970-4ED5-B4BC-25182AF2DCB0</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>9157127A-C27F-4F15-9991-18014932F56F</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>EC2E2476-0B83-46A8-96C5-825C177521B0</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.muukii.me</string>
</dict>
</plist>
